.react-grid-item.react-grid-placeholder {
  background: rgb(59, 130, 246);
  opacity: 0.2;
  border-radius: 0.5rem;
}

.react-grid-item > .react-resizable-handle {
  background: none;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 8px;
  height: 8px;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.dark .react-grid-item > .react-resizable-handle::after {
  border-color: rgba(255, 255, 255, 0.3);
}
